* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
.nav {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 8vh;
    background-color: white;
    box-shadow: 0px 0px 2px 0px black;
    z-index: 4;
}
.nav::after {
    content: '';
    display: block;
    clear: both;
}
.nav .logo {
    position: relative;
    float: left;
    height: 100%;
    width: 5%;
    margin-top: 1.3%;
    margin-left: 8%;
    font-size: 30px;
    font-weight: 700;
    font-family: '宋体';
    color:#11241a;
}
.nav .logo::after {
    content: '';
    display: block;
    position: absolute;
    top: -26%;
    left: -90%;
    width: 100%;
    height: 80%;
    background: url(../images/logo-background.png) no-repeat;
    background-size: cover;
    background-position: 10px 3px;
}
.nav .nav-part {
    float: left;  
    display: flex; 
    margin-top: 1.3%;
    margin-left: 10%;
}
.nav .nav-part .nav-item {
    transition: all .2s;
    position: relative;
    width:120px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.nav .nav-part .nav-item::before {
    content: '';
    transition: all .2s;
    position: absolute;
    top: 80%;
    left: 55%;
    transform: translateX(-50%);
    display: block;
    width: 85%;
    height: 20%;
    background-color: white;
    z-index: 3;
}
.nav .nav-part .nav-item::after {
    content: '';
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-35%);
    display: block;
    width: 120%;
    height: 20%;
    background: url(../images/nav-bottom.png) no-repeat;
    background-size: cover;
}
.nav .nav-part .nav-item a {
    transition: all .5s;
    font-size: 20px;
    font-family: '宋体';
    text-decoration: none;
    color:#11241a;
}
.nav .nav-part .nav-item:hover a {
    text-shadow: 0px 0px 10px black;
}
.nav .nav-part .nav-item:hover::before {
    transform: translateX(50%);
}
.nav .user {
    transition: all .3s;
    position: relative;
    float: right;
    width: 30px;
    height: 30px;
    margin-right: 2%;
    margin-top: 1.3%;
    border: 1px solid;
    border-radius: 15px;
    cursor: pointer;
}
.nav .user:hover {
    color: white;
}
.nav .user div {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(20%,10%);
    width: 20px;
    height: 20px;
}
.nav .user svg {
    width: 100%;
    height: 100%;
}
.poets_Journey_introduce {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(../images/poets_Journey_introduce-background.png) no-repeat;
    background-size: cover;
}
/* 第一个板块中文字的样式 */
.poets_Journey_introduce .textBox {
    position: absolute;
    top: 77%;
    left: 10%;
    font-family: '宋体';
    font-weight: 700;
    font-size: 26px;
}
/* 第一个板块中的云朵的样式 */
.poets_Journey_introduce [class^=cloud] {
    position: absolute;
    width: 20%;
    height: 20%;
    background: url(../images/poets_Journey_introduce-cloud.png) no-repeat;
    background-size: contain;
}
.poets_Journey_introduce .cloud_1 {
    top: 15%;
    left: 75%;
}
/* 第二个板块中的两个墨色渲染样式 */
.community_View {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: white;
}
.community_View .community_part {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 40%;
    background: url(../images/community_View_partbackground.png) no-repeat;
    background-size: contain;
}
.poets_Journey_entry {
    width: 100vw;
    height: 100vh;
    background: url(../images/poets_Journey_entry-background.png) no-repeat;
    background-size: cover;
}
.daiding {
    width: 100vw;
    height: 100vh;
    background-color: rgb(55, 159, 233);
}